# MySQL connection example
Import the connector and assign to it the alias "sql".

In [1]:
import mysql.connector as sql

Connect to the MySQL server and create a database called "comptools".

In [2]:
connection = sql.connect(host='mysql-server',
                         user='root',
                         password='password')
cursor = connection.cursor()
cursor.execute('CREATE DATABASE IF NOT EXISTS comptools')
connection.close()

Connect to the "comptools" database and create a table called "teachers".

In [3]:
connection = sql.connect(host='mysql-server',
                         user='root',
                         password='password',
                         database='comptools')
cursor = connection.cursor()
#cursor.execute('DROP TABLE teachers')
cursor.execute('CREATE TABLE teachers (name VARCHAR(255), affiliation VARCHAR(255))')

Insert some rows into "teachers".

In [4]:
cursor.execute('INSERT INTO teachers (name, affiliation) VALUES ("Patrick", "DataRobot")')
cursor.execute('INSERT INTO teachers (name, affiliation) VALUES ("Carsten", "DTU Lyngby")')
cursor.execute('INSERT INTO teachers (name, affiliation) VALUES ("Inge", "DTU Lyngby")')

Fetch the rows.

In [5]:
cursor.execute('SELECT * FROM teachers')
res = cursor.fetchall()
print(res)

[('Patrick', 'DataRobot'), ('Carsten', 'DTU Lyngby'), ('Inge', 'DTU Lyngby')]