# SQLite connection example

In [7]:
import sqlite3

In [8]:
conn = sqlite3.connect('bankdb.sqlite')
c = conn.cursor()

In [9]:
c.execute('CREATE TABLE IF NOT EXISTS accounts(accountId INTEGER PRIMARY KEY, balance REAL)')
conn.commit()

In [10]:
c.execute('INSERT INTO accounts (balance) VALUES (1337)')
conn.commit()
c.execute('SELECT accountId, balance FROM accounts WHERE balance > 1336')
print('First result: ', c.fetchone())
print('All remaining results: ', c.fetchall())
conn.commit()
conn.close()

First result:  (1, 1337.0)
All remaining results:  [(2, 1337.0)]